# Entorno virtual
backend/.venv/

# Python
**/__pycache__/
*.py[cod]
*.pyo

# Variables de entorno
.env
backend/.env

# Base vectorial
backend/data/chroma_db/

# Frontend
frontend/node_modules/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db